{% extends "base.html" %}

{% block title %} Student Registration {% endblock %}

{% block content %}

<!-- Student Registration Form -->
<form method="POST" id="student-form">
    {{ student_form.hidden_tag() }}
    <div>
        {{ student_form.username.label }}<br>
        {{ student_form.username(size=32) }}
    </div>
    <div>
        {{ student_form.password.label }}<br>
        {{ student_form.password(size=32) }}
    </div>
    <div>
        {{ student_form.confirm_password.label }}<br>
        {{ student_form.confirm_password(size=32) }}
    </div>
    <div>
        {{ student_form.interests.label }}<br>
        {{ student_form.interests(rows=4) }}
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Register as Student</button>
    </div>
</form>
<p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>

{% endblock%}
